.input-section {
    padding: 12px;
    background-color: rgb(243, 244, 246);
}

.daFsOe {
    padding-right: 0 !important;
}

.chat-header {
    font-size: 20px;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.chat-list {
    padding-top: 50px !important;
}

.sc-jlZhew:first-child {
    margin-top: 60px !important;
}
